.DisplayWeather{
    margin: 1rem auto;
    display: flex;
    background-color: aliceblue;
    padding: 1rem;
    width: max-content;
}

.DisplayWeather__card{
    flex: 0.5;
}

.DisplayWeather__details{
    flex: 0.6;
}

.DisplayWeather__cardTitle{
    font-size: 1.5rem;
}

.DisplayWeather__cardSubtitle{
    font-size: 1rem;
}

.DisplayWeather__temperature{
    font-size: 4rem;
    font-weight: 600;
}

.DisplayWeather__temperature sup{
    font-size: 2rem;
    font-weight: 600;
}

.DisplayWeather__mainData{
    margin-top: -1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.DisplayWeather__icon{
    width: 5rem;
    height: 5rem;
}